/* 
    Essa stylesheet poderia virar pelo menos duas: 
    1 - card
    2 - rate
*/
.rating-container {
    width: 100%;
    max-width: 23rem /* 368px */;

    display: flex;
    flex-direction: column;

    padding: 2rem 1.5rem;

    border-radius: 16px;

    background: var(--rating-value-background)
}

.rating-container h1 {
    margin-bottom: 1rem;

    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
}

.rating-container p {
    font-size: 0.9375rem; /* 15px */
    line-height: 1.5;
    color: var(--light-grey);
}

.rating-evaluation .star {
    width: 2.5rem;
    height: 2.5rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 1rem;
    
    border-radius: 50%;
    
    background-color: var(--rating-star-background);

    transition: background-color 0.2s ease-in-out;
}

.rating-evaluation .rating-options {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 1.5rem 0;
}

.rating-evaluation .rating-options input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    height: 0;
}

.rating-evaluation .rating-options label {
    width: 2.5rem;
    height: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 4px;
    
    border-radius: 50%;
    
    /* font-weight: 700; */
    
    background-color: var(--dark-blue);
    color: var(--light-grey);

    cursor: pointer;

    transition: background-color 0.2s ease-out;
}

.rating-evaluation .rating-options label:hover {
    background-color: var(--orange);
    color: var(--white);
}

.rating-evaluation .rating-options input[type="radio"]:checked + label {
    background-color: var(--label-checked-background);
    color: var(--white);
}

.rating-evaluation .rating-options input[type="radio"]:focus + label {
    border-width: 2px;
    border-color:  #444;
    border-style: dashed;
}

.rating-evaluation button.submit {
    width: 100%;
    padding: 1rem 0;

    border: none;
    border-radius: 32px;
    
    font-size: 0.875rem; /* 14px */
    font-weight: 700;

    letter-spacing: 0.1rem;
    text-transform: uppercase;
    
    background-color: var(--orange);
    color: var(--white);
    
    transition: background-color 0.2s ease-in-out;
    
    cursor: pointer;
}

.rating-evaluation button.submit:is(:hover, :focus) {
    background-color: var(--white);
    color: var(--orange);
}

.rating-evaluation button.submit[disabled] {
    background-color: var(--medium-grey);
    color: var(--dark-blue);
    cursor: not-allowed;
}

.rating-acknowledgement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-acknowledgement p {
    text-align: center;
}

.rating-acknowledgement img {
    padding: 0 4rem;
}

.rating-acknowledgement .rating-selected {
    padding: 0.375rem 0.75rem;
    padding-top: 0.5rem;
    margin-top: 1.75rem;
    margin-bottom: 2rem;

    border-radius: 16px;

    color: var(--orange);
    background-color: var(--dark-blue);
}

@media (min-width: 640px) {
    .rating-evaluation .rating-options label {
        width: 3rem;
        height: 3rem;
    }

    .rating-container {
        border-radius: 32px;
    }
}